$sort-item-width = 150px;
$sort-item-height = 150px;
$sort-item-padding = 10px;
$sort-item-content-border = 1px;
$sort-item-duration = 0.2s;

border-radius(){
	border-radius arguments;
}

.sort{
	border: 1px solid #DAE1E8;
	width: 600px;
	margin: 50px auto;

	&_col{
		border: 0;
	}

	&:after{
		content: '';
		display: block;
		clear: both;
	}

	&__item,
	&__placeholder{
		float: left;
		width:  $sort-item-width;
		height: $sort-item-height;
		position: relative;
		box-sizing: border-box;
		padding: $sort-item-padding;

		&_move{
			box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
			background: #fff;
		}
	}

	&__item_animate{
		-webkit-transition: all $sort-item-duration linear;
		   -moz-transition: all $sort-item-duration linear;
		     -o-transition: all $sort-item-duration linear;
		        transition: all $sort-item-duration linear;
	}

	
	&__placeholder{
		position: relative;

		&:before{
			content: '';
			position: absolute;	
			display: block;
			top: $sort-item-padding;
			right: $sort-item-padding;
			bottom: $sort-item-padding;
			left: $sort-item-padding;
			background: #bdd3fd;
			border-radius(5px)

		}
	}


	&__item-content{
		border: $sort-item-content-border solid #ccc;
		width:  $sort-item-width - ($sort-item-padding * 2) - $sort-item-content-border;
		height: $sort-item-height - ($sort-item-padding * 2) - $sort-item-content-border;

		background-repeat: no-repeat;
  		background-position: center;
  		background-size: cover;
	}




	&__full-item,
	&__full-item_placeholder{
		height: 40px;
		background: #2b55a9;
		border-radius(5px)
		margin-bottom: 15px;
	}

	&__full-item_placeholder{
		background: #fbfdbd;
	}

	&__full-item_move{
		box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
	}
}